{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{#    <div class="loading">#}
{#        <i class="fas fa-spinner fa-pulse bg-light rounded-circle p-2 fa-5x"></i>#}
{#    </div>#}
    <div class="container pt-2 d-flex flex-column h-75 justify-content-center align-items-center">
        <div class="alert login-container glass">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3 text-white">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="text-white-50">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h5 mb-3 font-weight-normal text-white">Please sign in</h1>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>


                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox my-2 text-white">
                    <label>
                        <input class="text-white" type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary mx-0 rounded px-4 py-2 w-100" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spin.js/4.1.0/spin.css" integrity="sha512-/ePAkBFgsGvT91dfBaYvL7uDBLV1BHmTB7H7VVQCWvprV01Cqn6Ws0hLoqHYp1g3s8byzKPG+3ADFPR6yVXJDw==" crossorigin="anonymous" />
    <style>

    </style>
{% endblock %}