<form method="post" action="{{ path('idea_status_delete', {'id': idea_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea_status.id) }}">
    <button class="btn">Delete</button>
</form>
