{% extends 'base_with_menu.html.twig' %}

{% block title %}Listado de Ideas{% endblock %}

{% block body %}
    {% include 'components/error_and_success.html.twig' %}
    {% include 'components/new_button.html.twig' with { 'text':'Crear Nuevo Estado','path':path('idea_status_new') } %}

    <h1>Listado de Ideas</h1>

    <table class="table {{ class_table|default('') }}">
        <thead>
            <tr>
                <th>Título</th>
                <th>Ideas</th>
                <th>Numero</th>
                <th>Numero maximo</th>
                <th>Color del Estado</th>
                <th>Previsualización</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for idea_status in idea_statuses %}
            <tr>
                <td>{{ idea_status.name }}</td>
                <td>{{ idea_status.ideas|length }}</td>
                <td>{{ idea_status.number }}</td>
                <td>{{ idea_status.maxNumber }}</td>
                <td>{{ idea_status.color }}</td>
                {% set status=idea_status %}
                <td>{{ include('components/status.html.twig')}}</td>
                <td>
                    <a href="{{ path('idea_status_show', {'id': idea_status.id}) }}">Mostrar</a>
                    <a href="{{ path('idea_status_edit', {'id': idea_status.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
