{% extends 'base.html.twig' %}

{% block title %}Nuevo Estado{% endblock %}

{% block body %}
    <div class="container d-flex flex-column align-items-center justify-content-center pt-3">
        <h1 class="text-white ">Nuevo Estado <i class="fas fa-lightbulb"></i></h1>
        <div class="alert rounded shadow w-50 bg-grey1">
            {{ include('idea_status/_form.html.twig') }}
        </div>
        <a href="{{ path('idea_status_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
    </div>
{% endblock %}
