{% extends 'base.html.twig' %}

{% block title %}Estados de Ideas{% endblock %}

{% block body %}
    <h1>Estados de Ideas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ idea_status.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ idea_status.name }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ idea_status.number }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('idea_status_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

    <a href="{{ path('idea_status_edit', {'id': idea_status.id}) }}">edit</a>

    {{ include('idea_status/_delete_form.html.twig') }}
{% endblock %}
