<button type="button" class="btn btn-primary float-left d-inline mt-3 ml-3" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-filter"></i> Filtrando: <i class="fa fa-calendar" aria-hidden="true"></i>
    {% for date in date_search %}
        {{ date | date('d/m/y')}}
    {% endfor %}
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Escoja el rango de las fechas para analisar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="card card-body">
                    {{ form_row(form.date_1, {
                        'label':'Desde',
                    }) }}
                    {{ form_row(form.date_2, {
                        'label':'Hasta',
                    }) }}
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Analisar') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{# Duplicating data into invisible div because its easier to grab with js #}
<div class="d-none date-data" data-date-one="{{ date_search|first | date('d/m/y') }}" data-date-two="{{ date_search|last | date('d/m/y') }}"></div>
