{% extends 'base_analytic.html.twig' %}
{% set widget='analytic/widget.html.twig' %}
{% set widget_classes='bg-light widget-analytics-h-2 rounded shadow d-flex flex-column justify-content-center align-items-center p-2 widget'%}

{% block title %}Analytics for {{ idea.name }}{% endblock %}

{% block body %}
    {#passing idea.id to js#}
    <div class="d-hidden" id="js-idea-id">{{ idea.id }}</div>
    {{ include('components/error_and_success.html.twig') }}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="{{ widget_classes }}">
                    <canvas id="js-chartjs-idea-notes-per-sector" class="w-100 mh-100"></canvas>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('analytics-idea') }}
{% endblock %}