{% extends 'base_analytic.html.twig' %}
{% set row_mb='mb-4' %}
{% set widget='analytic/widget.html.twig' %}

{% block title %}Analytics{% endblock %}
{% block body %}
    {{ include('analytic/header.html.twig') }}
    <div class="container-fluid">
        <div class="row {{ row_mb }}">
            {% include widget with { 'icon':'fa-lightbulb','text' : 'Ideas nuevas:','data':ideas_since_x,'popup':'y','row_template': 'analytic/row_ideas_since_x.html.twig'} %}
            {% include widget with { 'icon':'fa-users','text' : 'Usuarios Totales','data':users } %}
            {% include widget with { 'icon':'fa-sign-in-alt','text' : 'Usuarios logeados','data':users_using_app_since_x ,'popup':'y','row_template': 'analytic/row_users_seen.html.twig', 'more_info_url':'analytic_users_between_dates'} %}
            {% include widget with { 'icon':'fa-comment','text' : 'Comentarios:','data':comments_since_x,'popup':'y','row_template': 'analytic/row_comments_since_x.html.twig','more_info_url':'analytic_comments_between_dates'} %}
        </div>
        <div class="row {{ row_mb }}">
            {% set widget_classes='bg-light widget-analytics-h-2 rounded shadow d-flex flex-column justify-content-center align-items-center p-2 widget'%}
            <div class="col-md-4">
                <div class="{{ widget_classes }}">
                    <canvas id="chartjs-graph" class="w-100 mh-100"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-5 {{ widget_classes }}">
                    <h3 class="text-center">Ideas para cada sector</h3>
                    <canvas id="chartjs-ideas-per-sector" class="w-100 mh-100"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-5 {{ widget_classes }}">
                    <h3 class="text-center">Ideas por tags</h3>
                    <canvas id="chartjs-tags-donut" class="w-100 mh-100"></canvas>
                </div>
            </div>
        </div>
        <div class="row {{ row_mb }}">
            {% include widget with { 'icon':'fa-heart','text' : 'Ideas con mas likes TOP','data':ideas_most_liked,'popup':'y','row_template': 'analytic/row_ideas_most_liked.html.twig', 'withoutQuantity':'y','more_info_url':'analytic_new_ideas','orderBy':'likes'} %}
            {% include widget with { 'icon':'fa-dollar-sign','text' : 'Ideas menos costosas','data':ideas_most_economy_rate,'popup':'y','row_template': 'analytic/row_ideas_most_economy_rate.html.twig','withoutQuantity':'y','orderBy':'economy'} %}
            {% include widget with { 'icon':'fa-exclamation-triangle','text' : 'Ideas mas urgentes','data':ideas_most_urgency_rate,'popup':'y','row_template': 'analytic/row_ideas_most_economy_rate.html.twig','withoutQuantity':'y','orderBy':'urgency'} %}
            {% include widget with { 'icon':'fa-star','text' : 'Valoraciones nuevas','data':new_reviews,'popup':'y','row_template': 'analytic/row_notes.html.twig'} %}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('analytics-style') }}
{% endblock %}