{% set note=entity %}
{% include 'analytic/row_user_image.html.twig' %} {{ note.user.username}} | Nota economica {{ note.financial_note }} | Nota por urgencia {{ note.economical_nota }} en la idea : <a class="text-dark" href="{{ path('idea_show', { 'id':note.idea.id }) }}">{{ note.idea.name }}</a>