{% set idea=entity|first %}
{% include 'analytic/row_user_image.html.twig' %} <a class="text-dark" href="{{ path('idea_show', { 'id': idea.id }) }}">{{ idea.name }}</a> de {{ idea.owner.username}} con {{ entity.avg_note }} de media