{% set idea=entity|first %}
{% include 'analytic/row_user_image.html.twig' %} {{ idea.owner.username}} : <a class="text-dark" href="{{ path('idea_show', { 'id': idea.id }) }}">{{ idea.name }}</a> con {{ entity.likes_count }} likes