{% set comment=entity %}
{% include 'analytic/row_user_image.html.twig' %} <a class="text-dark" href="{{ path('idea_show', { 'id':comment.idea.id }) }}">{{ comment.user.username }}</a> comento en {{ comment.idea.name}}
