<div class="col-md-3 {{ popup is defined ? 'on-hover-popup': ''}}">
    <div class="p-5 bg-light widget-analytics-h-1 rounded shadow d-flex justify-content-around align-items-center widget">
        <div class="p-2 rounded-circle widget-icon-container">
            <i class="fas {{ icon | default('') }} rounded-circle p-1 fa-4x white"></i>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h3 class="text-center">{{ text | default('De los ultimos tiempos')}} </h3>
            {% if withoutQuantity is not defined%}
                <h1 class="font-weight-bold">{{ number is defined ? number : data| length}}</h1>
            {% endif %}
        </div>
        {% if popup is defined %}
            <div class="analytic-widget-hover bg-light rounded shadow-xlg">
                <ul class="analytic-popup-list">
                    {% for entity in data %}
                        <li class="text-dark">{% include row_template %} </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{ path(more_info_url|default('analytic_new_ideas'),{"analytic[date_1]": app.request.get("analytic")['date_1'],"analytic[date_2]": app.request.get("analytic")['date_2'], "orderBy":orderBy|default('') }) }}"><i class="widget2page fas fa-plus-circle text-muted"></i></a>
            <i class="popup-available fas fa-info text-muted"></i>
        {% endif %}
    </div>
</div>