{{ form_start(form , {'action': path('comment_new', {idea:idea.id} ), 'name':'comment_idea_'~idea.id,'attr': { 'id': 'comment_idea_'~idea.id  } }) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
