{% extends 'base.html.twig' %}

{% block title %}Editar Comentario{% endblock %}

{% block body %}
    <h1>Editar Comentario</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
