{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <div class="container">
        {% include 'components/error_and_success.html.twig' %}
        <h1 class="text-white">Listado de comentarios</h1>
        <table class="table table-striped shadow-lg rounded table-ideas text-white">
            <thead>
            <tr>
                <th>Comentario</th>
                <th>Publicado en</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.publishedAt ? comment.publishedAt|date_time_ago : '' }}</td>
                    <td>
                        <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                        <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
