{% extends 'base.html.twig' %}

{% block title %}Nuevo Comentario{% endblock %}

{% block body %}
    <h1>Nuevo Comentario</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
{% endblock %}
