{% extends 'base.html.twig' %}

{% block title %}Comentarios{% endblock %}

{% block body %}
    <h1>Comentarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ comment.text }}</td>
            </tr>
            <tr>
                <th>Publicado en</th>
                <td>{{ comment.publishedAt ? comment.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">Editar</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
