<div class="widget tags-container bg-light mt-3 mh-25 overflow-auto p-2 rounded">
    <h4><i class="fas fa-tags"></i> Tags</h4>
    {% for tag in sideBar.tags %}
        {% include 'components/tag.html.twig' %}
    {% endfor %}
</div>