{% for key, file in idea.files  %}
    <div class="bg-light border p-2">
        {% set filepath=asset('uploads/users/') ~  file.name %}
            <a href="{{ filepath }}" download><i class="fas fa-download"></i> {{ file.originalName }}</a>
        <a class="delete-file" href="#" data-url="{{ path('file_delete', { id : file.id } ) }}" data-csrf="{{ csrf_token('delete'~file.id) }}"><i class="fas fa-trash text-danger float-right"></i></a>
    </div>
{% endfor %}