.analytic-popup-list
  list-style: none
  padding: 0
  li
    padding: 0.5em
    &:nth-child(odd)
      background-color: lightblue

.popup-available
  & *
    color: #896464 !important
  position: absolute
  bottom: 1em
  right: 1em

.widget2page
  & *
    color: #5f9fd2 !important
  &:hover
    color: #0046f8 !important
  position: absolute
  top: 1em
  right: 1em
  z-index: 20