@import "~bootstrap"
@import "glass"
@import '~node-waves/src/sass/waves.sass'
@import "~jquery-bar-rating/dist/themes/bars-reversed.css"

/* colors */
$bg-color: #bcd3e2
$bg-post-profile: #89a6ff
$light-darker: #fff
$blue: #1414d2
$light-blue: #a7d3e1
$red: #f00
$green: #20bf0f


.bg-light-darker
  background-color: $light-darker
.bg-light-blue
  background-color: $light-blue
.bg-blue
  background-color: $blue
.bg-red
  background-color: $red



/* sizes */
$xs: '576px'
$sm: '768px'
$md: '992px'
$lg: '1200px'

.w-6x
  width: 6em
.h-6x
  height: 6em
.mh-25
  max-height: 25vh
.mh-45
  max-height: 45vh
.mw-25p
  max-width: 25%
.mw-50
  max-width: 50%
.mw-10p
  max-width: 10%

.h-90vh
  height: 90vh
/* end sizes */
body
  background-color: $bg-color

.b-first
  background-color: $bg-color

nav
  z-index: 20
  .img-logo
    max-height: 5rem
  .nav-item.active
    border-radius: 1rem
    background-color: #3c8ff6


.table-striped tbody tr:nth-of-type(odd)
  background-color: rgba(0, 0, 0, 0.07)

.bg-grey1
  background: #a7caff

.table-ideas td
  vertical-align: middle
// FORMs
// idea form tags horizontal
.horizontal-boxes > .form-check
  display: inline-block
  margin-right: 1rem

.form-group textarea
  min-height: 10em

.post-profile-image
  max-width: 6%

// limit tags selection size, if many tags then you can scroll
form #idea #idea_tags
  max-height: 4.5em
  overflow: auto


@media (min-width: $md)
  .img-logo
    max-width: 15vw
  // dropdown on hover if desktop
  .dropdown:hover .dropdown-menu
    display: block
    margin-top: 0 // remove the gap so it doesn't close

.delete-as-link
  border: none
  padding: 0!important
  /*optional*/
  font-family: arial, sans-serif
  cursor: pointer
  background-color: inherit

.fa-trash:hover
  color: red !important

// ANALYTICS
.widget-analytics-h-1
  height: 10rem

.widget-analytics-h-2
  height: 21.5rem

.on-hover-popup .analytic-widget-hover
  opacity: 0
  transition: 0.2s
  height: 0
  width: 0
  z-index: 1
  display: inline !important
  position: absolute !important
  top: 10rem
  overflow: auto

.on-hover-popup:hover .analytic-widget-hover
  opacity: 1 !important
  transition: 0.3s
  width: 100% !important
  height: 100% !important

.widget-icon-container
  background-color: #5afce8
  .white
    color: white
    opacity: 1

.shadow-xlg
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7) !important
  border: 1px solid black

.datepicker
  padding: 1rem
  cursor: pointer

// status
.circles
    display: flex

.status-circle
    width: 1rem
    height: 1rem
    border-radius: 50%
    background: #7b7b7b
    margin-left: 0.5rem
    border-left: 1px solid #ffffff40
    border-right: 1px solid #00000040
.status-circle-done
   background: #004aff

.loading
  height: 100vh
  width: 100vw
  background-color: #4949e3
  z-index: 100
  position: absolute
  top: 0

.loading .fa-spinner
  position: fixed
  top: 45%
  left: 50%
