html
    background: radial-gradient(#9198e5,#000000)

html,body
    //background-image: url('/img/logo2.png')
    //background-size: contain
    background-image: url('/img/background-original.jpg')
    background-size: cover
    background-color: #036786 !important
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    height: 100%
    font-family: 'Numans', sans-serif

%backdrop-blur
    background-color: rgba(0, 0, 0, 0.70) !important

@supports (( -webkit-backdrop-filter: blur(0.5em) ) OR ( backdrop-filter: blur(0.5em) ))
    %backdrop-blur
        -webkit-backdrop-filter: blur(0.5em)
        backdrop-filter: blur(0.5em) !important

.glass
    @extend %backdrop-blur
    //background-color: rgba(255, 255, 255, 0.1) !important
    // dark glass alt
    background-color: rgba(0, 0, 0, 0.3) !important
    border-top: 1px solid #FFFFFF80 !important
    border-left: 1px solid #FFFFFF70 !important
    border-bottom: 1px solid #00000040
    border-right: 1px solid #00000020

.label-white label
    color: white

.white-all
    &, & *
        color: white

.text-white a
    color: white
    text-decoration: underline
//    text-shadow: 0px 0px 6px white

#nav
    backdrop-filter: blur(1em)
    background-color: #ffffff40 !important


    .navbar-brand, nav .navbar-toggler
        filter: brightness(0) invert(1)

    .nav-item *
        color: #fff !important

    .nav-item.active
        background-color: transparent !important
        border: 1px solid #3c8ff680

    .nav i
        @extend .white

.widget
    @extend .glass
    @extend .white-all
    //background: radial-gradient(#9198e5, #00000001)

    h1,h2,h3,h4,h5,i
        color: white

    .widget-icon-container
        background-color: #ffffff20 !important

.widget-icon-container, .login-container, .sidebar, .table-ideas
  @extend .glass

//Fix popup underneath after glass effect
.on-hover-popup .analytic-widget-hover
    top: 0 !important