nav
  .nav-item, nav .navbar-brand, nav .navbar-toggler
    filter: brightness(0) invert(1)

  .login-link
    display: none

form
  .input-group-text
    background-color: #82c0ff40
    border: none
  .fa-user, .fa-key
    color: white

html
  background: radial-gradient(#9198e5,#000000)

  &,body
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    height: 100%
    font-family: 'Numans', sans-serif

.login-container,.glass
  background-color: #ffffff10
  backdrop-filter: blur(1.5em)
  border: none

#nav
  background-color: #ffffff20 !important
  backdrop-filter: blur(0.2em)

