.br-wrapper .br-widget a
  border-radius: 50% !important

.br-wrapper .br-widget a.br-active[data-rating-value="1"],
.br-wrapper .br-widget a.br-selected[data-rating-value="1"]
  background-color: #ff0000 !important

.br-wrapper .br-widget a.br-active[data-rating-value="2"],
.br-wrapper .br-widget a.br-selected[data-rating-value="2"]
  background-color: #ff7700 !important

.br-wrapper .br-widget a.br-active[data-rating-value="3"],
.br-wrapper .br-widget a.br-selected[data-rating-value="3"]
  background-color: #ff9900 !important

.br-wrapper .br-widget a.br-active[data-rating-value="4"],
.br-wrapper .br-widget a.br-selected[data-rating-value="4"]
  background-color: #fff200 !important

.br-wrapper .br-widget a.br-active[data-rating-value="5"],
.br-wrapper .br-widget a.br-selected[data-rating-value="5"]
  background-color: #e6ff00 !important

.br-wrapper .br-widget a.br-active[data-rating-value="6"],
.br-wrapper .br-widget a.br-selected[data-rating-value="6"]
  background-color: #aae71d !important

.br-wrapper .br-widget a.br-active[data-rating-value="7"],
.br-wrapper .br-widget a.br-selected[data-rating-value="7"]
  background-color: #59ff3c !important


.br-wrapper .br-widget a.br-active[data-rating-value="8"],
.br-wrapper .br-widget a.br-selected[data-rating-value="8"]
  background-color: #59ff3c !important

.br-wrapper .br-widget a.br-active[data-rating-value="9"],
.br-wrapper .br-widget a.br-selected[data-rating-value="9"]
  background-color: #0eff36 !important

.br-wrapper .br-widget a.br-active[data-rating-value="10"],
.br-wrapper .br-widget a.br-selected[data-rating-value="10"]
  background-color: #00d522 !important

.br-wrapper .br-widget
  a.br-current[data-rating-value="10"], a.br-selected
    background-color: #00ff2a !important

.br-current-rating
  color: white !important