{{ form_start(form) }}
<div class="label-white">
{{ form_row(form.financial_note,{ 'label':'Evaluación financiera (cuanto menos costosa mejor)' })}}
{{ form_row(form.urgency_note,{ 'label':'Evaluación por urgencia (¿ es urgente ?)' } ) }}
{{ form_row(form.comment,{ 'label':'Comentario (opcional)' }) }}
    <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
</div>
{{ form_end(form) }}
