{% extends 'base.html.twig' %}

{% block title %}Editar Evaluación{% endblock %}
{% block body %}
    <div class="container glass mw-50 rounded mt-5">
        <h1 class="text-white">Editar Evaluación</h1>

        {{ include('note/_form.html.twig', {'button_label': 'Actualizar'}) }}
        {{ include('note/_delete_form.html.twig') }}

        <a class="mt-4 text-white" href="{{ path('idea_index') }}"><i class="fas fa-arrow-circle-left"></i> volver</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('rating') }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('rating-colors') }}
{% endblock %}