{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
    <div class="container">
         <h1 class="text-white">Notas</h1>

    <table class="table glass text-white">
        <thead>
            <tr>
                <th>Idea</th>
                <th>Usuario</th>
                <th>Evaluación Financiera</th>
                <th>Evaluación por Urgencia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="{{ path('idea_show', { 'id': note.idea.id } ) }}">{{ note.idea.name }}</a></td>
                <td>{{ note.user.name }}</td>
                <td>{{ note.financialNote }}</td>
                <td>{{ note.urgencyNote }}</td>
                <td>
                    <a href="{{ path('note_show', {'id': note.id}) }}">show</a>
                    <a href="{{ path('note_edit', {'id': note.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
