{% extends 'base.html.twig' %}

{% block title %}Nueva opinion{% endblock %}
{% block body %}
    <div class="container glass mw-50 rounded mt-5">
        <h1 class="text-white">Crear nueva opinion</h1>

        {{ include('note/_form.html.twig') }}

        <a class="mt-4" href="{{ path('idea_index') }}"><i class="fas fa-arrow-circle-left"></i> volver</a>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('rating') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('rating-colors') }}
{% endblock %}