{% extends 'base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
    <h1 class="text-white">Note</h1>

    <table class="table glass text-white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Financial_note</th>
                <td>{{ note.financialNote }}</td>
            </tr>
            <tr>
                <th>Nota por Urgencia</th>
                <td>{{ note.urgencyNote }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('note_index') }}">volver al listado</a>

    <a href="{{ path('note_edit', {'id': note.id}) }}">editar</a>

    {{ include('note/_delete_form.html.twig') }}
{% endblock %}
