{{ form_start(form) }}
{{  form_row(form.name) }}
{{  form_row(form.title) }}
{{  form_row(form.description) }}
{{  form_row(form.sectors) }}
{{  form_row(form.anonymous) }}
<div id="app"></div>
{{  form_row(form.files) }}
{% if form.status is defined %}
    {{  form_row(form.status) }}
{% endif %}
{{ form_row(form.tags) }}
<button class="btn btn-primary ">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
