{% extends 'base.html.twig' %}
{% set bodyClass='bg-info' %}
{% block title %} Editar Idea !{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center pt-3">
        <h1 class="text-white ">Editar idea <i class="fas fa-lightbulb"></i></h1>
        <div class="row">
            <div class="col">
                <div class="alert rounded shadow bg-grey1">
                    {{ include('idea/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
            <div class="col file-input-col">
                {{ include('file/list-with-api.html.twig') }}
                <form action="{{ path('idea_add_file', { id: idea.id }) }}" method="post" enctype="multipart/form-data" class="dropzone">
                </form>
            </div>
        </div>

        <a href="{{ path('idea_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('file-input') }}
    {{ encore_entry_script_tags('vue') }}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('file-input-style') }}
    {{ encore_entry_link_tags('vue') }}
{% endblock %}