{% extends 'base_with_menu.html.twig' %}

{% block title %}Listado de Ideas{% endblock %}

{% block body %}
    {% include 'components/error_and_success.html.twig' %}
    {% include 'components/new_button.html.twig' with { 'text': 'Nueva Idea !', 'path': path('idea_new') } %}
    {{ parent() }}
    {{ include('components/ideas_list.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if app.request.get('party') %}
        {{ encore_entry_script_tags('party') }}
    {% endif %}
{% endblock %}