{% extends 'base_with_menu.html.twig' %}

{% block title %}Listado de Ideas{% endblock %}

{% block body %}
    {% include 'components/error_and_success.html.twig' %}
    {% include 'components/new_button.html.twig' with { 'text': 'Nueva Idea !', 'path': path('idea_new') } %}
    {{ parent() }}
    <table class="table {{ class_table|default('') }} widget">
        <thead>
        <tr>
            <th>Nombre</th>
            <th><i class="fas fa-clock"></i> Cuando</th>
            <th>User</th>
            <th><i class="fas fa-tags"></i> Tags</th>
            <th><i class="fas fa-users"></i> Sectores</th>
            <th><i class="fas fa-spinner"></i> Estado</th>
            <th><i class="fas fa-heart"></i> Likes</th>
            <th><i class="fas fa-heart"></i> Evaluación media </th>
        </tr>
        </thead>
        <tbody>
        {% for idea_and_evaluation in ideas %}
            {% set idea=idea_and_evaluation[0] %}
            <tr>
                <td>
                    <a href="{{ path('idea_show', {'id': idea.id}) }}">{{ idea.name | capitalize}}</a>
                </td>
                <td>
                    {{ idea.publishedAt ? idea.publishedAt | date_time_ago : 'ahora' }}
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="{{ idea.anonymous ? 'Anónimo': idea.owner.name }}">
                        <i class="fas fa-user"></i>
                    </button>
                </td>
                <td>
                    {% for tag in idea.tags %}
                        {{ include('components/tag.html.twig') }}
                    {% endfor %}
                </td>
                <td>
                    {% for sector in idea.sectors %}
                        {{ include('components/sector.html.twig') }}
                    {% endfor %}
                </td>
                <td>
                    {% include 'components/status.html.twig' with {'status': idea.status } %}
                </td>
                <td>
                    {% include 'components/liker.html.twig' %}
                </td>
                <td>
                    {{ idea_and_evaluation['avg_note']  }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if app.flashes('party') is defined %}
        {{ encore_entry_script_tags('party') }}
    {% endif %}
{% endblock %}