{% extends 'base.html.twig' %}
{% block title %} Nueva Idea !{% endblock %}

{% block body %}
<div class="container d-flex flex-column align-items-center justify-content-center pt-3">
    <h1 class="text-white ">Crea una nueva idea <i class="fas fa-lightbulb"></i></h1>
    <div class="alert rounded shadow w-50 bg-white">
        {{ include('idea/_form.html.twig') }}
    </div>
    <a href="{{ path('idea_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('file-input') }}
    {{ encore_entry_script_tags('vue') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('file-input-style') }}
    {{ encore_entry_link_tags('vue') }}
{% endblock %}