{% extends 'base.html.twig' %}

{% block title %}Idea{% endblock %}

{% block body %}
<div class="container">
    <div class="p-2 bg-info glass rounded shadow mb-auto mt-5">
        <div class="post bg-light rounded shadow mb-1">
            <div class="post-profile d-flex align-items-center p-3 rounded-top">
                <img class="post-profile-image rounded-circle" src="{{ asset('img/profile.png') }}" alt="">
                <div class="post-profile-text ml-3">
                    <h5>{{ idea.anonymous ? 'Anónimo' : idea.owner.username|capitalize }}</h5>
                    <h5>{{ idea.publishedAt ? idea.publishedAt|date_time_ago : '' }}</h5>
                </div>
                <div class="dropdown ml-auto align-self-start">
                    <i class="fas fa-ellipsis-h fa-2x bg-light-darker rounded-circle p-2 ml-auto align-self-start "
                       type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ></i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% if app.user.hasAuth(idea) %}
                            <a class="dropdown-item" href="{{ path('idea_edit', {'id': idea.id}) }}">
                                Edit
                            </a>
                            <a class="dropdown-item sendDeleteRequest" data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}" data-ideaid="{{ idea.id }}">
                                {{ include('idea/_delete_form.html.twig') }}
                            </a>
                        {% endif %}
                        <a title="Share by Email" href="mailto:?subject=New Idea for us&amp;body=Check out this idea: {{ path('idea_show', { 'id': idea.id }) |url_encode }}" class="dropdown-item">Share</a>
                    </div>
                </div>
            </div>
            <div class="post-body p-3">
                <h3>{{ idea.Title }}</h3>
                <h5>{{ idea.description }}</h5>

                {% for key, file in idea.files  %}
                    {% set filepath=asset('uploads/users/') ~  file.name %}
                    {% if file.name ends with '.jpg' or file.name ends with '.png' or file.name ends with '.jpeg' %}
                    <hr>
                    <img src="{{ filepath }}" class="d-block mw-25p ml-auto mr-auto rounded shadow-lg" alt="">
                    {% elseif file.name ends with '.doc' %}
                        <a href="{{ filepath }}"><i class="fas fa-download"></i> DOWNLOAD {{ idea.files|length>1 ? key+1 : '' }}</a>
                    {% endif %}
                {% endfor %}
                {{ idea.tags|length > 0 ? '<h5 class="d-inline"><i class="fas fa-tags"></i>Tags: </h5> ' : '' }}
                {% for tag in idea.tags %}
                    {{ include('components/tag.html.twig') }}
                {% endfor %}

                {{ idea.sectors|length > 0 ? '<h5 class="d-inline">Sectores: </h5> ' : '' }}
                {% for sector in idea.sectors %}
                    {{ include('components/sector.html.twig') }}
                {% endfor %}

            </div>
            <hr>
            <div class="post-footer px-3 pb-3 d-flex ">
                {% include 'components/liker.html.twig' %}
                <div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
                    <a href="#comment_idea_{{ idea.id }}" class="comment-link btn btn-primary rounded-circle ml-3" id="comment-link-{{ idea.id }}"><i class="fas fa-comment"></i></a>
                    <a class="likes-counter ml-2" id="likes-counter-{{ idea.id }}">{{ idea.comments|length }}</a>
                </div>
                {% if is_granted('IDEA_NOTE',idea) %}
                    <div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
                        <a href="{{ path('note_new', { idea_id: idea.id } ) }}" class="note-link btn btn-success rounded-circle ml-3" id="note-link-{{ idea.id }}"><i class="fas fa-clipboard"></i></a>
                        <a class="notes-counter ml-2" id="likes-counter-{{ idea.id }}">{{ idea.notes|length }}</a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ANALYTIC') %}
                    <div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
                        <a href="{{ path('analytic_idea', { id: idea.id } ) }}" class="note-link btn btn-info rounded-circle ml-3" id="note-link-{{ idea.id }}"><i class="fas fa-chart-pie"></i></a>
                    </div>
                {% endif %}
                <div class="ml-auto d-inline-flex flex-column justify-content-start align-items-center flex-row justify-content-start align-items-center">
                    <h5 class="inline">Estado: </h5>
                    {% include 'components/status.html.twig' %}
                </div>
            </div>
        </div>
        <div id="comments-{{ idea.id }}" class="comments bg-light rounded shadow p-2">
            <h5>Comentarios:</h5>
            {% for comment in idea.comments %}
                <hr>
                <div class="alert alert-light" id="comment-{{ comment.id }}">
                    <h5><b>{{ comment.user.username ~ ":"}}</b> {{ comment.text }} </h5> <h5 class="mr-auto"><i class="fas fa-clock"></i> {{ comment.publishedAt ?  comment.publishedAt|date_time_ago : '' }}</h5>
                    {% if app.user.hasAuth(comment) %}
                        <a class="sendDeleteCommentRequest" data-userid="{{ app.user.id }}" data-token="{{ csrf_token('delete'~comment.id) }}" data-commentid="{{ comment.id }}" onclick="return confirm('Are you sure you want to delete this comment?')" >
                            <i class="fas fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
            {% if is_granted('IDEA_COMMENT',idea) %}
                {% include 'comment/_form.html.twig' %}
            {% else %}
                <div class="alert">No puedes comentar esta idea</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}