<template>
  <div class="form-group tag-selector ">
    <legend class="col-form-label">Seleccione sus tags:</legend>
    <div class="container">
      <div class="row ">
        <div class="col-6 mh-25  overflow-auto">
          <div v-for="(tag,index) in notSelected" :key="index" @click="changeSelectedStatus(tag)"
               class="tag-selector-item not-selected p-1">
            {{ tag.name }} <i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="col-6 mh-25 overflow-auto">
          <div v-for="(tag,index) in selected" :key="index" @click="changeSelectedStatus(tag)"
               class="tag-selector-item selected p-1"><i class="fas fa-tags text-muted"></i> {{tag.name}} <i class="fas fa-trash"></i></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "tagSelector",
  data() {
    return {
      tagCheckboxes : document.querySelector('#idea_tags').children,
      myTags:[]
    }
  },
  mounted: function() {
    let localTags=[];
    for ( let tag of this.tagCheckboxes ){
      let localTag = {
        'name': tag.querySelector('label').innerHTML,
        'id': tag.querySelector('input').value,
        'selected': tag.querySelector('input').checked ,
      }
      localTags.push(localTag)
    }
    this.myTags= localTags;
    // hide initial tag selector
    document.querySelector('#idea_tags').parentElement.style.display='none'

  },
  computed: {
    myTags() {
      let localTags=[];
      for ( let tag of this.tagCheckboxes ){
        let localTag = {
          'name': tag.querySelector('label').innerHTML,
          'id': tag.querySelector('input').value,
          'selected': tag.querySelector('input').checked ,
        }
        localTags.push(localTag)
      }
      return localTags;
    },
    selected() {
      return this.myTags.filter(i => i.selected)
    },
    notSelected() {
      return this.myTags.filter(i => !i.selected)
    }
  },
  methods: {
    changeSelectedStatus: function (tag) {
      let tagDOM= document.querySelector(  `#idea_tags input[value="${tag.id}"]`);
      console.log(tagDOM.checked)
      tagDOM.checked = !tagDOM.checked;
      console.log(tag)
      tag.selected=tagDOM.checked
    }
  }
}
</script>

<style lang="scss">
span {
  background-color: blue
}
.tag-selector-item.not-selected {
  .fa-plus {
    display: none !important;
  }
  &:hover {
    background-color: #93ff54;
    .fa-plus {
      display: inline !important;
    }
  }
}
.tag-selector-item.selected{
  .fa-trash {
    display: none;
  }
  &:hover {
    background-color: #ff6666;
    .fa-trash {
      display: inline !important;
    }
  }
}

</style>