<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App de Ideas{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('components/navbar.html.twig') }}
<div class="container-fluid h-100">
    <div class="row h-90vh">
            {{ include('components/sidebar.html.twig') }}
        <div class="container col-9 bg-light widget">
            {% set class_table='table-striped shadow-lg rounded table-ideas' %}
            {% block body %}
                {% if is_granted("ROLE_ADMIN") %}
                    <form class="d-inline ml-5">
                        <select name="anon" class="form-select bg-dark text-white p-2 rounded" aria-label="Default select example" onchange="this.form.submit()">
                            {% set is_anon=app.request.get('anon') %}
                            <option value="default" {% if app.request.get('anon') == "default" %}selected{% endif %}>Anonimizacion Permitida</option>
                            <option value="off" {% if app.request.get('anon') == "off" %}selected{% endif %}>Anonimizacion Nunca</option>
                            <option value="on" {% if app.request.get('anon') == "on" %}selected{% endif %}>Anonimizacion Siempre</option>
                        </select>
                    </form>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
