{% extends 'base.html.twig' %}

{% block title %}Editar Tag{% endblock %}

{% block body %}
    <h1>Editar Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tag_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
