{% extends 'base.html.twig' %}
{% set bodyClass="d-flex flex-column align-items-center" %}
{% block title %}Tag index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3"> {% include 'components/new_button.html.twig' with { 'text': 'Nueva Tag !', 'path': path('tag_new') } %}</div>
            <div class="col-9"><h1 class="align-self-center text-white my-5"><i class="fas fa-tags"></i>Todas las tags:</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <table class="table table-striped table-light shadow-lg rounded table-ideas widget">
            <thead>
            <tr>
                <th><i class="fas fa-tags"></i> Nombre</th>
                <th><i class="fas fa-lightbulb"></i> Numero de ideas</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td class="align-middle">{{ tag.name }}</td>
                    <td class="align-middle">{{ tag.ideas|length }}</td>
                    <td class="align-middle">
                        <a href="{{ path('tag_show', {'id': tag.id}) }}">Mostrar</a>
                        <a href="{{ path('tag_edit', {'id': tag.id}) }}">Editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="align-middle">Ninguna idea encontrada</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
