{% extends 'base.html.twig' %}

{% block title %}Crear nueva Tag{% endblock %}

{% block body %}
    <h1>Crear nueva Tag</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('tag_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
{% endblock %}
