{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1 class="text-center text-white">Tag</h1>
    <div class="container bg-light rounded shadow">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('tag_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

        <a href="{{ path('tag_edit', {'id': tag.id}) }}">Editar</a>

        {{ include('tag/_delete_form.html.twig') }}
    </div>
{% endblock %}
