{% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
        <strong>{{  message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success bg-success text-dark alert-dismissible fade show mt-1" role="alert">
        <strong>{{  message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{  message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('new_idea') %}
    <div class="alert alert-success bg-success text-dark alert-dismissible fade show mt-1" role="alert">
        <strong>{{  message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}