<table class="table {{ class_table|default('') }} widget">
    <thead>
    <tr>
        <th>Nombre</th>
        <th><i class="fas fa-clock"></i> Cuando</th>
        <th>User</th>
        <th><i class="fas fa-tags"></i> Tags</th>
        <th><i class="fas fa-users"></i> Sectores</th>
        <th><i class="fas fa-spinner"></i> Estado</th>
        <th><i class="fas fa-heart"></i> Likes</th>
    </tr>
    </thead>
    <tbody>
    {% for idea in ideas %}
        <tr>
            <td>
                <a href="{{ path('idea_show', {'id': idea.id}) }}">{{ idea.name | capitalize}}</a>
            </td>
            <td>
                {{ idea.publishedAt ? idea.publishedAt | date_time_ago : 'ahora' }}
            </td>
            <td>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="{{ idea.anonymous ? 'Anónimo': idea.owner.name }}">
                    <i class="fas fa-user"></i>
                </button>
            </td>
            <td>
                {% for tag in idea.tags %}
                    {{ include('components/tag.html.twig') }}
                {% endfor %}
            </td>
            <td>
                {% for sector in idea.sectors %}
                    {{ include('components/sector.html.twig') }}
                {% endfor %}
            </td>
            <td>
                {% include 'components/status.html.twig' with {'status': idea.status } %}
            </td>
            <td>
                {% include 'components/liker.html.twig' %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
