<div class="d-flex flex-row justify-content-start align-items-center flex-row justify-content-start align-items-center">
    <a data-userid="{{ app.user.id }}" data-token="{{ csrf_token(app.user.id) }}" data-ideaid="{{ idea.id }}" class="btn btn-danger rounded-circle sendChangeLikeRequest mr-2">
        <i class="fas fa-heart"></i>
    </a>
    <a class="likes-counter" id="likes-counter-{{ idea.id }}"> {{ idea.likes|length }}</a>
</div>