<nav class="navbar navbar-expand-lg navbar-primary bg-light navbar-light indigo border-bottom w-100" id="nav">
    <a class="navbar-brand" href="{{ path('home') }}">
            <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item {{ app.request.get('_route')|slice(0,4) == 'home' ? 'active' }}">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fas fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route')|slice(0,5) == 'idea_' and app.request.get('_route')|slice(0,11) != 'idea_status' ? 'active' }}">
                <a class="nav-link" href="{{ path('idea_index') }}">
                    <i class="fas fa-lightbulb"></i>
                    Ideas
                </a>
            </li>
            {% if is_granted('ROLE_TAG_SHOW') %}
                <li class="nav-item {{ app.request.get('_route')|slice(0,4) == 'tag_' ? 'active' }}">
                    <a class="nav-link" href="{{ path('tag_index') }}">
                        <i class="fas fa-tags"></i>
                        Tags
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER_SHOW') %}
                <li class="nav-item {{ app.request.get('_route')|slice(0,5) == 'user_' ? 'active' }}">
                    <a class="nav-link" href="{{ path('user_index') }}">
                        <i class="fas fa-user-friends"></i>
                        Personas
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ANALYTIC') %}
                <li class="nav-item {{ app.request.get('_route')|slice(0,8) == 'analytic' ? 'active' }}">
                    <a class="nav-link" href="{{ path('analytic_index') }}">
                        <i class="fas fa-chart-pie"></i>
                        Analítica
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_STATUS_FULL') %}
                <li class="nav-item {{ app.request.get('_route')|slice(0,11) == 'idea_status' ? 'active' }}">
                    <a class="nav-link" href="{{ path('idea_status_index') }}">
                        <i class="fas fa-spinner"></i>
                        Estados
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_NOTE_SHOW') %}
                <li class="nav-item {{ app.request.get('_route')|slice(0,5) == 'note_' ? 'active' }}">
                    <a class="nav-link" href="{{ path('note_index') }}">
                        <i class="fas fa-star"></i>
                        Evaluaciones
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SECTOR_SHOW') %}
                <li class="nav-item {{ app.request.get('_route')|slice(0,7) == 'sector_' ? 'active' }}">
                    <a class="nav-link" href="{{ path('sector_index') }}">
                        <i class="fas fa-layer-group"></i>
                        Sectores
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if app.user %}
            <div class="dropdown ml-auto">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user ml-auto"></i>
                </button>
                <div class="dropdown-menu  dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">

                    <a href="#" class="dropdown-item">
                        <i class="fas fa-cog"></i>
                        My Account
                    </a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </div>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="login-link btn btn-primary ml-auto">
                <i class="fas fa-sign-in-alt"></i>
                Login
            </a>
        {% endif %}
    </div>
</nav>