<form class="form-inline my-4 mt-2">
    <input class="form-control w-75" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0 w-25" type="submit"><i class="fas fa-search"></i></button>
</form>