<div class="col-3 bg-info sidebar">
    <div class="container">
        {% include 'components/search.html.twig' %}
        {% if sideBar is defined %}
            {% if sideBar.tags is defined %}
                {% include 'components/sidebar/tag_container.html.twig' %}
            {% endif %}
            {% if sideBar.sectors is defined %}
                <div class="widget sector-container bg-light mt-3 mh-25 overflow-auto p-2 rounded">
                    <h4><i class="fas fa-users"></i> Sectores</h4>
                    {% for sector in sideBar.sectors %}
                        {% include 'components/sector.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if sideBar.states is defined %}
                <div class="widget tags-container bg-light mt-3 mh-45 overflow-auto p-2 rounded">
                    <h4><i class="fas fa-spinner"></i> Estados</h4>
                   <div class="status-container d-flex flex-column align-items-center">
                       {% for status in sideBar.states %}
                           {% include 'components/status.html.twig' with {'status': status, 'noname':'yes' } %}
                       {% endfor %}
                   </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
