{% if status is not defined %}
    {% set status=idea.status %}
{% endif %}
{% set changeIdeaStatus = is_granted('IDEA_STATUS',idea) %}
<div class="div d-inline">
    {% if changeIdeaStatus %}
        <a href="{{ path('idea_edit',{ id: idea.id }) }}" class="d-flex align-items-center justify-content-center">
    {% else %}
        <a href="{{ path('idea_by_status',{ status:status.id }) }}">
    {% endif %}
            <div class="d-inline-flex flex-column align-items-center">
                <div class="circles {{ classes | default('') }}">
                    {% set n=status.maxNumber %}
                    {% for i in 1..n %}
                        <div class="status-circle" style="background-color: {{ status.number >= i ? status.color : '' }}"></div>
                    {% endfor %}
                </div>
                <h5 class="text-center">{{ status.name }}</h5>
            </div>
            {% if changeIdeaStatus %}
                <i class="fas fa-pencil-alt ml-1"></i>
            {% endif %}
        </a>
</div>
