<form method="post" action="{{ path('sector_delete', {'id': sector.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sector.id) }}">
    <button class="btn btn-danger">Deletar</button>
</form>
