{% extends 'base.html.twig' %}

{% block title %}Editar Sector{% endblock %}

{% block body %}
    <h1>Editar Sector</h1>

    {{ include('sector/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sector_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

    {{ include('sector/_delete_form.html.twig') }}
{% endblock %}
