{% extends 'base.html.twig' %}

{% block title %}Sector index{% endblock %}

{% block body %}
    <div class="container">
        {% include 'components/new_button.html.twig' with {'text': 'Nuevo Sector', 'path':path('sector_new')} %}
        <h1 class="text-white text-center">Sector index</h1>
        <table class="table glass text-white">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sector in sectors %}
                <tr>
                    <td>{{ sector.id }}</td>
                    <td>{{ sector.name }}</td>
                    <td>
                        <a href="{{ path('sector_show', {'id': sector.id}) }}">show</a>
                        <a href="{{ path('sector_edit', {'id': sector.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
