{% extends 'base.html.twig' %}

{% block title %}Crear Nuevo Sector{% endblock %}

{% block body %}
    <h1>Crear Nuevo Sector</h1>

    {{ include('sector/_form.html.twig') }}

    <a href="{{ path('sector_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
{% endblock %}
