{% extends 'base.html.twig' %}

{% block title %}Sector{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-white">Sector</h1>
        <table class="table glass text-white">
            <tbody>
            <tr>
                <th>Nombre</th>
                <th>Personas</th>
                <th>Ideas para el sector</th>
            </tr>
            <tr>
                <td>{{ sector.name }}</td>
                <td>{{ sector.users|length }}</td>
                <th>{{ sector.ideas|length }}</th>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-baseline mw-50">

        <a href="{{ path('sector_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
        <a href="{{ path('sector_edit', {'id': sector.id}) }}" class="btn btn-outline-primary">Editar <i class="fas fa-pencil-alt"></i></a>
        {{ include('sector/_delete_form.html.twig') }}

        </div>
    </div>
{% endblock %}
