{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <div class="container bg-light mt-5 rounded">
        <h1>Editar Usuario</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('user_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
