{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-3 h-90vh widget d-flex flex-column align-items-center justify-content-around position-sticky sticky-top">
                <div class="d-flex flex-column align-items-center justify-content-between">
                    <img class="mw-50 rounded-circle" src="{{ asset('img/profile.png') }}" alt="">
                    <h1 class="text-white"> {{ app.user.name }}</h1>
                    <div class="bg-dark rounded p-2">
                        <h5><i class="fas fa-lightbulb"></i> Ideas: {{ app.user.ideas|length }}</h5>
                        <h5>Comentarios: {{ app.user.comments|length }}</h5>
                        <h5>Likes: {{ app.user.likes|length }}</h5>
                        <h5>Evaluaciones: {{ app.user.notes|length }}</h5>
                    </div>
                </div>
            </div>
            <div class="container col-9 bg-light widget p-0 m-0">
                <tbody class="p-0 m-0">
                    {{ include('components/ideas_list.html.twig') }}
                </tbody>
            </div>
        </div>
    </div>
{% endblock %}
