{% extends 'base_with_menu.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER_NEW') %}
        {% include 'components/new_button.html.twig' with { 'text': 'Nuevo Usuario!', 'path': path('user_new') } %}
    {% endif %}
    <h1 class="{{ class_title|default('') }} text-center">Listado de usuarios</h1>

    <table class="table {{ class_table| default('') }}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ideas</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Roles</th>
                {% endif %}
                <th>Ultima vez visto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.ideas.count }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {% endif %}
                <td>{{ user.lastRequest ? user.lastRequest | date_time_ago : 'ahora' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Mostrar</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
