{% extends 'base.html.twig' %}

{% block title %}Crear usuario{% endblock %}

{% block body %}
<div class="container bg-light mt-5 rounded">

<h1>Crear usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="text-white"><i class="fas fa-arrow-circle-left"></i> Volver al listado</a>
</div>
{% endblock %}
